#title {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    
    color: #FFFFFF;
  }

#subtitle {
  padding: 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

#box {
  background-color: white;
}

#ratio {
  border-radius: 10px;
  padding: 0px
}

.hr {
  position: absolute;
  width: 1168px;
  height: 0px;
  left: 1304px;
  top: 283px;

  border: 4px solid #8DDCCE;
  transform: rotate(-179.85deg);
}

#votes {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
}

#votes td, #votes th {
  padding: 8px;
}

#votes tr {
  background-color: white;
  color: black
}

#votes tr:hover {background-color: #D4AF37;}

#votes th {
  height:80px; 
  overflow:auto;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

#report {
  background-color: white;
  margin-bottom: 50px;
}

#file {
  height:24px;
  width:20%
}

#scrollable { 
  margin-top: 20px; 
  height: 200px; 
  overflow: auto;
}
#scrollable th div {
  position: absolute; 
  margin-top: -20px;
}